{% extends "base_admin.html" %}
{% block title %}
Startseite Admin
{% endblock %}

{% block content %}
    

   <div class="container-fluid">
    <h2><b>Für Admins:</b><br> Aufgabenmanager für Projektteams</h2>
    <h4>Diese Web-App ist ein Aufgabenmanager mit welchem kleine Projektteams Ihre Aufgabenplanung organisieren und abstimmen können.</h4><br>
    <p>Die Anwendung verfügt über verschiedene Funktionen welche die Aufgabenplanung zwichen Projektmanagern und Umsetzenden Teilnehmern ermöglichen.<br><br> <b>Hierzu zählen folgende Funktionen für einen Projektmanager(ADMIN):</b><li>Aufgaben anlegen/löschen/bearbeiten</li> <li>Unteraufgaben anlegen/löschen</li><li>Anlegen von Usern(Ausführung von Aufgaben)</li><li>Verwaltung der Anmeldedaten der User</li><li>Einsehen der Zuweisung der User zu Aufgaben</li> <br> <b>Folgende Funktionen stehen den Nutzern(USERN) zur Verfügung</b>
    <li>Einsehen der Aufgaben/Zuweisung zu Usern</li><li>Anlegen/löschen von Unteraufgaben</li><li>Zuweisung des Users zu einer Aufgaben</li><br>
    Viel Spaß mit der Anwendung
   </div>
{% endblock %}

